account/
cache/
db/
/lib/
lock/
log/
mail
run/
spool/
tmp/
yp/
var/
/www/WebApollo/data/
/www/cgi-bin/
/www/error/
/www/html/
/www/icons/
/www/logs/
/www/manual/
/www/usage/

.DS_Store
.DS_Store?
._*
*~
*.sw?
.svn/

