[GENERAL]
description =  __USER__'s __ORGANISM__ Data
db_adaptor    = Bio::DB::Das::Chado
db_args       =  -dsn 'dbi:Pg:dbname=__DBNAME__;host=__DBHOST__'
                 -user __DBUSER__
				 -inferCDS 1
                 -srcfeatureslice 1
                 -organism "__ORGANISM__"

reference class = chromosome

initial landmark = __TRIMMED_ORGANISM_____PID__:1..10000

#include /etc/gbrowse2/gbrowse2_conf.inc

#include /etc/gbrowse2/gbrowse_chado_tracks.inc


