[GENERAL]
description =  __USER__'s __ORGANISM__ Data
db_adaptor    = Bio::DB::Das::Chado
db_args       =  -dsn 'dbi:Pg:dbname=__DBNAME__;host=green.cshl.edu'
                 -user cornel
                 -srcfeatureslice 1
                 -organism __ORGANISM__
                 -inferCDS 1

reference class = chromosome

initial landmark = __ORGANISM_____PID__:1..10000

#include gbrowse_conf.inc
 
#include gbrowse_chado_tracks.inc

