@import "alignment_viewer.css";

#barcode div div.G, #barcode div div.S, #barcode div div.T, #barcode div div.C, #barcode div div.N, #barcode div div.Q{
  background-color:#3366ff;
}
#barcode div div.H, #barcode div div.K, #barcode div div.R{
  background-color:#cc0000;
}
#barcode div div.D, #barcode div div.E{
  background-color:#33cc00;
}
#barcode div div.A, #barcode div div.I, #barcode div div.L, #barcode div div.M, #barcode div div.P, #barcode div div.V{
  background-color:#ff6666;
}
#barcode div div.F, #barcode div div.Y, #barcode div div.W{
  background-color:orange;
}
#barcode div div.dash{
  background-color:#999;
}

.fingerprint div div.G, .fingerprint div div.S, .fingerprint div div.T, .fingerprint div div.C, .fingerprint div div.N, .fingerprint div div.Q{
  background-color:#3366ff;
  color:#3366ff;
}
.fingerprint div div.H, .fingerprint div div.K, .fingerprint div div.R{
  background-color:#cc0000;
  color:#cc0000;
}
.fingerprint div div.D, .fingerprint div div.E{
  background-color:#33cc00;
  color:#33cc00;
}
.fingerprint div div.A, .fingerprint div div.I, .fingerprint div div.L, .fingerprint div div.M, .fingerprint div div.P, .fingerprint div div.V{
  background-color:#ff6666;
  color:#ff6666;
}
.fingerprint div div.F, .fingerprint div div.Y, .fingerprint div div.W{
  background-color:orange;
  color:orange;
}
.fingerprint div div.dash{
  background-color:#999;
  color:#999;
}

.bases div div.G, .bases div div.S, .bases div div.T, .bases div div.C, .bases div div.N, .bases div div.Q{
  color:#3366ff;
  background-color:#F0F0F0;
}
.bases div div.H, .bases div div.K, .bases div div.R{
  color:#cc0000;
  background-color:#F0F0F0;
}
.bases div div.D, .bases div div.E{
  color:#33cc00;
  background-color:#F0F0F0;
}
.bases div div.A, .bases div div.I, .bases div div.L, .bases div div.M, .bases div div.P, .bases div div.V{
  color:#ff6666;
  background-color:#F0F0F0;
}
.bases div div.F, .bases div div.Y, .bases div div.W{
  color:orange;
  background-color:#F0F0F0;
}
.bases div div.dash{
  color:#999;
  background-color:#F0F0F0;
}


#legend{
	z-index:1003;
	width:200px;
	height:230px;
	position:absolute;
	/*top and right need to be set inline in the HTML (for draggability) */
	/*top:29px;
	right:8px;*/
	border:1px solid #999;
	background:#999;
}
/*#legend div.draggable {
	float:left;
	margin:2px;
	background-image:url('/images/dragger.png');
	width:16px;
	height:16px;
	cursor:move
}
#legend div.close_button {
	float:right;
	padding:1px;
	cursor:pointer;
}
*/

#legend_body {
	height:200px;
	background:#F8FAFC;
	font-family:arial;
	font-size:12px;
	padding:5px;
}
#legend_body ul {
	margin-left:-25px;
}
#legend_body ul li{
	margin-bottom:3px;
	margin-top:8px;
}
#legend_body ul ul {
	margin-left:-25px;
}
#legend_body ul ul li {
	margin-bottom:0px;
	margin-top:0px;
}
#legend #color_codes .no_charge{
	color:#3366ff;
}
#legend #color_codes .positive_charge{
	color:#cc0000;
}
#legend #color_codes .negative_charge{
	color:#33cc00;
}
#legend #color_codes .aliphatic{
	color:#ff6666;
}
#legend #color_codes .aromatic{
	color:orange;
}
#legend #color_codes .gaps{
	color:#999;
}
#legend .switch_view{
	color:#666;
	position:absolute;
	bottom:5px;
	font-size:10px;
}

