@import "alignment_viewer.css";

#barcode div div.A{
  background-color:green;
}
#barcode div div.G{
  background-color:black;
}
#barcode div div.T{
  background-color:red;
}
#barcode div div.C{
  background-color:blue;
}
#barcode div div.M, #barcode div div.R, #barcode div div.W, #barcode div div.S, #barcode div div.Y, #barcode div div.K, #barcode div div.V, #barcode div div.H, #barcode div div.D, #barcode div div.B, #barcode div div.X, #barcode div div.N, #barcode div div.dash
{
 color:#999;
 background-color:#999;
}

.fingerprint div div.A {
 color:green;
 background-color:green;
}
.fingerprint div div.G {
 color:black;
 background-color:black;
}
.fingerprint div div.T {
 color:red;
 background-color:red;
}
.fingerprint div div.C {
 color:blue;
 background-color:blue;
}
.fingerprint div div.M, .fingerprint div div.R, .fingerprint div div.W, .fingerprint div div.S, .fingerprint div div.Y, .fingerprint div div.K, .fingerprint div div.V, .fingerprint div div.H, .fingerprint div div.D, .fingerprint div div.B, .fingerprint div div.X, .fingerprint div div.N, .fingerprint div div.dash
{
 color:#999;
 background-color:#999;
}
.bases div div.A {
 color:green;
 background-color:#F0F0F0;
}
.bases div div.G {
 color:black;
 background-color:#F0F0F0;
}
.bases div div.T {
 color:red;
 background-color:#F0F0F0;
}
.bases div div.C {
 color:blue;
 background-color:#F0F0F0;
}
.bases div div.M, .bases div div.R, .bases div div.W, .bases div div.S, .bases div div.Y, .bases div div.K, .bases div div.V, .bases div div.H, .bases div div.D, .bases div div.B, .bases div div.X, .bases div div.N, .bases div div.dash
{
 color:grey;
 background-color:#F0F0F0;
}

/* Sequence variation row for nucleotides only*/
#alignment div div div[class*='cons_']{
	background-color:#999;
	margin-left:-1px;
}
#alignment div div div.cons_cons{
	background-color:#777;
	height:100%;
	z-index:1;
	position:absolute;
	bottom:0;
}
#alignment div div div.cons_A{
	background-color:green;
}
#alignment div div div.cons_C{
	background-color:blue;
}
#alignment div div div.cons_T{
	background-color:red;
}
#alignment div div div.cons_G{
	background-color:black;
}
.cons_hundred{
	height:100%;
	z-index:2;
	position:absolute;
	bottom:0;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.cons_sixtysix{
	height:66%;
	z-index:2;
	position:absolute;
	bottom:0;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
}
.cons_fifty{
	height:50%;
	z-index:2;
	position:absolute;
	bottom:0;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
}
.cons_thirtythree{
	height:33%;
	z-index:2;
	position:absolute;
	bottom:0;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
}
/* END Sequence variation row */