#alignment{
  overflow:auto;
  font-family:Courier,monospace;
}
#alignment div div div.hgram{
	position:absolute;
	bottom:0;
	background:#777;
	border-top:1px solid black;
}
/* Barcode view is the initial, minimal zoom, all the way until the 1 level before the maximum zoom level*/
#barcode div{
  white-space: nowrap;
}
#barcode div div{
  width:1px;
  margin:0px 0px;
  display: inline-block;
  background-color:#f0f0f0;
}
/* fingerprint view is at the maximum zoom level but still showing bars, not the nucleotide letters */
.fingerprint div div{
  background-color:#f0f0f0;
  color:#f0f0f0;
}
/* Sequence view is the view that shows the actual nucleotides/amino acids */
#sequence div{
  white-space: nowrap;
}
#sequence div div{
  width:12px;
  margin:0px 0px;
  display: inline-block;
}
/* each of the rows in the display are nested in 1 .row div */
.row{
 line-height:20px;
 margin:2px 0px;
}
/* the first row which holds the histogram and sequence positions/numbering is contained in a div .row_1 */
.row_1 {
	height:45px;
	position:relative;
	z-index:1000;
}
/*.row:hover{
 border: 1px solid black;
 margin-left:-1px;
 margin-bottom:-2px;
}*/
div.viewport {
 top:1px;
 left:1px;
 width:100%;
 padding:3px;
}
#labels{
 float:left;
 margin-right:5px;
 max-width:300px;
 overflow-x:auto; 
 white-space:nowrap;
 margin-top:3px;
 font-family: arial;
 font-size:12px;
 font-weight:bold;
}

.bar{
	width:12px;
	display:inline-block;
	position:relative;
	height:21px;
	cursor:default;
}

input.controls{
	cursor:pointer;
}
input.disabled{
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
	cursor:default;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/**
*  aa_code_rollovers is here because the last definition is shared for the
*  histogram rollovers as well (see .bar[data-title]:hover:after below)
*  and we want to keep this all grouped together
**/
.aa_code_rollovers{
	cursor:default;
	padding-right:1px;
	border-bottom:1px dotted;
	font-family:courier,monospace;
}
.aa_code_rollovers:hover{
	/*font-weight:bold;
	padding-right:0px;*/
	position:relative; /* need this to position/anchor the rollovers */
}

.aa_code_rollovers[data-title]:hover:after{
	left:-95px;
}

.aa_code_rollovers[data-title]:hover:after, .bar[data-title]:hover:after {
	content: attr(data-title);
	padding: 4px 8px;
	color: #333;
	position: absolute;
	/* left: -80px;*/
	top: 26px;
	white-space: nowrap;
	z-index: 1000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: silver;
	border:1px solid black;
}

/** 
*  legend_but is only shown for protein sequences (and it's now called 'color  
*  codes') but we define the style here since its shared with the pairwise 
*  button (titled 'sequence similarity' now)
**/
#legend_but, #pairwise_but{
	float:right;
	/*width:60px;*/
	/*height:22px;*/
	margin-right:2px;
	border:1px solid #999;
	text-align:center;
	font-family:arial;
	font-size:10px;
	padding:4px 9px;
	cursor:pointer;
	color:#999;
}

/**
*  pairwise_div is displayed in both proteins and nucleotides
**/
#pairwise_div {
	z-index:1001;
	width:auto;
	height:auto;
	position:absolute;
	top:45px;
	right:80px;
	/*border:1px solid #999;*/
	background:#F8FAFC;
	text-align:center;
}
table, td{
	border:0px solid #999;
	padding:1px;
}

#pairwise_div  td{
	padding:3px;
	border:1px solid #999;
}

#alignment_links{
	font-size:10px;
	font-family:arial;
}
