@charset "UTF-8";
/* CSS Document */
/*This page is only for HEADER, FOOTER, AND BACKGROUND. */
/*SEE content.css document for CONTENT. */
/*If the ID or CLASS name start with con, please see content.css document. */

* {margin: 0px auto ;}
/* a {outline: none;}*/
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: arial, sans-serif;
    background-color: #333333;
	/*background-repeat: repeat-x;
	background-image: url("/images/v2/background_bg.png");
	background-position: bottom;*/

	}
/*
body {
	background-repeat: no-repeat;
	background-image: url("/images/v2/bg_extend.png");
	background-position: top;
	
	}
*/	

h3{
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
	color: #6a9f97;
	padding-bottom: 3px;
	padding-top: 10px;
}

h4{
	text-align: center;
	font-weight: bold;
	font-size: .9em;
	color: #336699;
}

h5{
	padding: 8px 0px 4px 0px;
	text-align: left;
	font-weight: normal;
	font-size: 1.1em;
	/*color: #663300;*/
	color: #46726F;
}
	
.p1{
	color:#336699;
	font-size: .8em;
	text-align: left;
	padding-left: 16px;
}

.p2{
	color:#000;
	font-size: .95em;
	text-align: left;
	line-height: 1em;
}

.p3{
	padding-left: 45px;
	text-align: left;
	font-weight: bold;
	font-size: .95em;
	color: #424242;
}

.p4{
	
	text-align: left;
	font-weight: bold;
	font-size: .95em;
	color: #424242;
}

.textLink1{
	width: auto;
	height: 60px;
	text-align: left;
	font-size: 1.1em;
	color: #663300;
	text-decoration:none;
	font-weight: bold;

	}
.textLink1 a{
	width: auto;
	height: 60px;
	padding-left: 44px;
	padding-top: 12px;
	padding-bottom: 6px;
	text-align: left;
	font-size: 1.1em;
	color: #663300;
	text-decoration:none;
	font-weight: bold;
	background: url("/images/v2/logo_nsf.jpg") bottom left no-repeat;
	
	}
.textLink1 a:hover{
	color: #F47721;
	
	
	}
.textLink2{
	
	text-align: left;
	font-size: 1em;
	color: #663300;
	text-decoration:none;
	
	}
.textLink2 a{
 	
	text-align: left;
	font-size: 1em;
	color: #663300;
	text-decoration:none;
	
	
	}
.textLink2 a:hover{
	color: #F47721;
	
	}

.textLink3{
	
	text-align: left;
	font-size: 1em;
	color: #663300;
	text-decoration:none;
	
	}
.textLink3 a{
	text-align: left;
	font-size: 1em;
	color: #663300;
	text-decoration:none;
	
	}
.textLink3 a:hover{
	color: #F47721;

	}
	
#mainContainer {
	width: 1000px;
	height:auto;
    margin-top: 4px;
	/*z-index: 4;*/
	position: relative;
	background-color: white;

	}
#containerBody  {
	width: 1000px;
	height: auto;
	overflow:hidden;
	min-height: 440px;
	
	/*background-image: url("/images/v2/bg_middle.png");
	background-repeat: repeat-y;*/
	position: relative;
	}
	
#home_intro {
	width: 600px;
	height: 126px;
	padding: 20px 200px 0px 48px;
	background-color: #fff;
	font-size: 1em;
	font-family: helvetica, sans-serif;	
	text-align: justify;
	color: #000;
	position: relative;
	float: left;
	}

	
/*//----------HOMEPAGE start------------------*/
/*---home---------home---------home---------home---------home---------home---------home---------home------*/


/*//----------HOMEPAGE Header start------------------*/
#home_header {
	width: 1000px;
	height: 156px;
	}
#home_header_topline {
	width: 1000px;
	height: 12px;
	padding-top: 2px;
	background-color: #666666;
	font-size: 0.70em;
	letter-spacing: .3em;
	font-family: helvetica, sans-serif;	
	text-align: center;
	color: #fff;
	}
#home_header_bottomline {
	width: 1000px;
	height: 8px;
	background-color: #666666;
	vertical-align: bottom;
	}
#home_header_BG {
	width: 1000px;
	height: 134px;
	position: relative;
	background: url("/images/v2/bg_home_head.jpg") top no-repeat;
	}
#home_header_BG_member {
	width: 1000px;
	height: 134px;
	position: relative;
	background: url("/images/v2/bg_home_head_member.jpg") top no-repeat;
	}

	
#home_header_left_member {
	width: 430px;
	height: 134px;
	float: left;
	position: relative;
	}
.container_log{
	width: 140px;
	height: 100px;
	padding-top: 6px;
	float: left;
	position: relative;

}
.bt_backhome {
	width: 230px;
	height: 44px;
	postion: relative;
	float: right;
	display: block;
	}
.bt_backhome a {
	width: 230px;
	height: 44px;
	postion: relative;
	float: right;
	display: block;
	}
/*//END-------HOMEPAGE Header END------------------*/	

/*//----------Member Log in start------------------*/
#memberForm{
	width:200px;
	height:128px;
	margin: 4px 0px 0px 40px;
	float: left;
	position: relative;
	overflow: hidden;
	}
.memberRow1{
	width:174px;
	height: auto;
	
	float: left;
	position: relative;
	clear: both;
	}
.memberRow2{
	width:200px;
	height:24px;
	float:left;
	position: relative;
	}
.memberLabel{
	width: 174px;
	height: 14px;
	display:block;
	float:left;
	text-align: left;
	font-family: helvetica, sans-serif;	
	font-size: .75em;
	color: #000;		
	}

.memberInput{
    width: 172px;
	height: 14px;
	color: green;
	background: white;
	border: 1px solid #666;
	margin-bottom: 2px;
	}

.memberEnter {
	width: auto;
	height: 22px;
	font-size: 0.75em;
	font-family: helvetica, sans-serif;	
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid #666;
	list-style-type: none;
	float: left;
	position: relative;
	padding-top: 1px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-top: 4px;
	

}

.memberEnter:hover {
	background: #333;
	color: #fff;

}


.forgotPassword {
	width:auto;
	height: 12px;
	padding-top: 4px;
	font-size: 0.7em;
	font-family: helvetica, sans-serif;	
	text-align: left;
	color: #666699;
	list-style-type: none;
	position: relative;
	float:left;	
	

}
.forgotPassword a {
	width:auto;
	height: 12px;
	color: #666699;
	text-decoration: none;
	text-align: left;
	float:left;	
	padding-top: 4px;
	display: block;
	position: relative;
	margin-right: 4px;
}
.forgotPassword a:hover {
	color: #0033FF;

}
	
.registerBT {
	width:80px;
	height: 20px;
	font-size: 0.8em;
	font-family: helvetica, sans-serif;	
	text-align: center;
	background: #663399;
	border: 1px solid #666;
	list-style-type: none;
	position: relative;	
	float: right;
	margin-top: 4px;
	

}

.registerBT a {
	width:80px;
	height: 20px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding-top: 4px;
	display: block;
	position: relative;
	float: right;
}

.registerBT a:hover {
	color:#000;

}
/*
.bt_LogOut {
	width:114px;
	height: 38px;
	position: relative;	
	

}

.bt_LogOut  a {
	width:114px;
	height: 38px;
	background: url("/images/v2/bt_logout1.png") right no-repeat;
	display: block;
	position: relative;
	float: left;
	margin:0px 0px 0px 26px;
}

.bt_LogOut a:hover {
	background: url("/images/v2/bt_logout2.png") right no-repeat;

}
*/

.bt_LogIn {
	width: auto;
	height: 38px;
	position: relative;	
	

}

.bt_LogIn  a {
	width:auto;
	height: 38px;
	background: url("/images/v2/bt_login1.png") right no-repeat;
	display: block;
	position: relative;
	float: left;
	margin:0px 0px 0px 6px;
}

.bt_LogIn a:hover {
	background: url("/images/v2/bt_login2.png") right no-repeat;

}

.bt_LogOut_text {
	width:autopx;
	height: auto;
	font-size: .65em;
	font-weight: normal;
	padding-left: 12px;
	text-transform: uppercase; 
		
}

.bt_LogOut_text  a {
	width:autopx;
	height: auto;
	position: relative;
	color: #666666;
	text-decoration: none;
	padding-top: 4px;
	font-style: normal;
	font-family: helvetica, sans-serif;
	letter-spacing: 0em;
	
}

.bt_LogOut_text  a:hover {
	color: #FF9933;
}

.bt_myprojects_home {
	width:114px;
	height: 38px;
	position: relative;	
	

}

.bt_myprojects_home  a {
	width:114px;
	height: 38px;
	background: url("/images/v2/bt_myprojects_small1.png") right no-repeat;
	display: block;
	position: relative;
	float: left;
	margin: 0px 0px 0px 26px;
}

.bt_myprojects_home a:hover {
	background: url("/images/v2/bt_myprojects_small2.png") right no-repeat;

}

.bt_publicprojects_home {
	width:114px;
	height: 38px;
	position: relative;	
	

}

.bt_publicprojects_home  a {
	width:114px;
	height: 38px;
	background: url("/images/v2/bt_pubprojects_small1.png") right no-repeat;
	display: block;
	position: relative;
	float: left;
	margin:15px 0px 0px 26px;
}

.bt_publicprojects_home a:hover {
	background: url("/images/v2/bt_pubprojects_small2.png") right no-repeat;

}

.bt_projects {
	width:114px;
	height: 38px;
	position: relative;	
	

}

.bt_projects  a {
	width:114px;
	height: 38px;
	background: url("/images/v2/bt_project1.png") right no-repeat;
	display: block;
	position: relative;
	float: left;
	margin:15px 0px 0px 26px;
}

.bt_projects a:hover {
	background: url("/images/v2/bt_project2.png") right no-repeat;

}

.bt_projects a:current {
	background: url("/images/v2/bt_project2.png") right no-repeat;

}

/*//END-------Member Log in END------------------*/

/*//-------HOME Map START-------START----------------------------START---------*/
/*//-------HOME Map------------------*/
#home_map {
	width: 1000px;
	height: 200px;
	padding-top: 39px;
	position: relative;
	margin: 0px  auto;
	}
	
#map_left {
	width:150px;
	height: 200px;
	float: left;
	position: relative;
}

#map_right {
	width:850px;
	height: 200px;
	background: url("/images/v2/subway-map-right-1.jpg") top left no-repeat;
	float: right;
	position: relative;

}
#map_spacer {
	width: 150px;
	height: 28px;
	display: block;
	float:left;
	position: relative;
}

#startHere {
	width: 150px;
	height: 28px;
	background: url("/images/v2/startHere.jpg") top left no-repeat;
	float:left;
	position: relative;
}


/*//-------HOME Map Start BUTTONs------------------*/
.bt_redStart_home {
	width:150px;
	height: 40px;
	position: relative;	
	float: left;
	margin: 0px 0px 25px 0px;	

}

.bt_redStart_home a{
	width:150px;
	height: 40px;
	background: url("/images/v2/bt_redStart1.jpg") left no-repeat;
	display: block;
	position: relative;
	float: left;
	margin: 0px 0px 25px 0px;
}



.bt_redStart_home a:hover {
	background: url("/images/v2/bt_redStart2.jpg") left no-repeat;
}

.bt_redStart_home a.nohover {
	background: url("/images/v2/bt_redStart1.jpg") left no-repeat;
}

.bt_yellowStart_home {
	width:150px;
	height: 40px;
	position: relative;
	float: left;
	margin: 0px 0px 25px 0px;
}

.bt_yellowStart_home a{
	width:150px;
	height: 40px;
	background: url("/images/v2/bt_yellowStart1.jpg") left no-repeat;
	display: block;
	position: relative;
	float: left;
	margin: 0px 0px 25px 0px;
}

.bt_yellowStart_home a:hover {
	background: url("/images/v2/bt_yellowStart2.jpg") left no-repeat;
}

.bt_yellowStart_home a.nohover {
	background: url("/images/v2/bt_yellowStart1.jpg") left no-repeat;
}

.bt_blueStart_home {
	width:150px;
	height: 40px;
	position: relative;
	float: left;
}

.bt_blueStart_home a {
	width:150px;
	height: 40px;
	background: url("/images/v2/bt_blueStart1.jpg") left no-repeat;
	display: block;
	position: relative;
	float: left;
	margin: 0px 0px 0px 0px;
}

.bt_blueStart_home a:hover {
	background: url("/images/v2/bt_blueStart2.jpg") left no-repeat;
}

.bt_blueStart_home a.nohover {
	background: url("/images/v2/bt_blueStart1.jpg") left no-repeat;
}

.bt_redStart {
	width:150px;
	height: 40px;
	position: relative;	
	float: left;
	margin: 0px 0px 25px 0px;	

}

.bt_redStart  a {
	width:150px;
	height: 40px;
	background: url("/images/v2/bt_redStart1.jpg") left no-repeat;
	display: block;
	position: relative;
	float: left;
	margin: 0px 0px 25px 0px;
}

.bt_redStart a.current {
	background: url("/images/v2/bt_redStart3.jpg") left no-repeat;
}

.bt_redStart a:hover {
	background: url("/images/v2/bt_redStart2.jpg") left no-repeat;
}

.bt_yellowStart {
	width:150px;
	height: 40px;
	position: relative;
	float: left;
	margin: 0px 0px 25px 0px;		

}

.bt_yellowStart  a {
	width:150px;
	height: 40px;
	background: url("/images/v2/bt_yellowStart1.jpg") left no-repeat;
	display: block;
	position: relative;
	float: left;
	margin: 0px 0px 25px 0px;
}

/*- inactive -*/
.bt_yellowStart a:hover {
	background: url("/images/v2/bt_yellowStart2.jpg") left no-repeat;
}

.bt_yellowStart a.current{
	background: url("/images/v2/bt_yellowStart3.jpg") left no-repeat;
}

.bt_blueStart {
	width:150px;
	height: 40px;
	position: relative;
	float: left;		

}

.bt_blueStart  a {
	width:150px;
	height: 40px;
	background: url("/images/v2/bt_blueStart1.jpg") left no-repeat;
	display: block;
	position: relative;
	float: left;
	margin: 0px 0px 0px 0px;
}


.bt_blueStart a:hover {
	background: url("/images/v2/bt_blueStart2.jpg") left no-repeat;
}

.bt_blueStart a.current {
	background: url("/images/v2/bt_blueStart3.jpg") left no-repeat;
}

/*-----Home Map rollover info-----*/

.containerHoz1{
	width: 780px;
	height: 50px;
	position: relative;
	padding-top: 24px;
	float: left;
	
}

.containerHoz2{
	/*width: 780px;*/
	width: 100%;
	height: 70px;
	position: relative;
	float: left;
	
}
.containerHoz3{
	width: 780px;
	height: 50px;
	position: relative;
	padding-top: 14px;
	float: left;
	
}

.rolloverMap {
	width: 750px;
	height: 50px;
	list-style: none;
	margin-left: 0px;
	margin-top: 0px;
	padding:0px;
	position: relative;
}

.rolloverMap li {
	float: left;
}

.top_menu1 span {
	display: none;
	position: relative;
}


.spacer1{
	width: 80px;
	height: 50px;
	display: block;
	position: relative;
	float:left;
}
.spacer2{
	width: 40px;
	height: 50px;
	display: block;
	position: relative;
	float:left;
}

.spacer3{
	width:12px;
	height: 50px;
	display: block;
	position: relative;
	float:left;
}

.conConsole_info{
	width: 130px;
	height:50px;
	display: block;	
	position: relative;
	float: left;
	}
	
.conConsole_info_blue{
	width: 110px;
	height:50px;
	display: block;	
	position: relative;
	float: left;
	}

.conConsole_info a{
	width: 130px;
	height:50px;
	display: block;	
	position: relative;
	float: left;
	}
/*//----------home page discription-----------------*/


.startInfoText_R{
	display: none; 
	position: fixed; 
	left: 235px; top: 90px;
	margin-right: 50px;
	padding: 20px 20px 10px 25px;  
	color: #000; 
	text-align: left; 
	font-size: .8em; 
	width: 480px; 
	height: 100px;
	background: url("/images/v2/bubble_wideR.png") no-repeat;

}

.startInfoText_Y{
	display: none; 
	position: fixed; 
	left: 235px; top: 90px;
	margin-right: 50px;
	padding: 20px 20px 10px 25px;  
	color: #000; 
	text-align: left; 
	font-size: .8em; 
	width: 480px; 
	height: 100px;
	background: url("/images/v2/bubble_wideY.png") no-repeat;

}

.startInfoText_B{
	display: none; 
	position: fixed; 
	left: 235px; top: 90px;
	margin-right: 50px;
	padding: 20px 20px 10px 25px;  
	color: #000; 
	text-align: left; 
	font-size: .8em; 
	width: 480px; 
	height: 100px;
	background: url("/images/v2/bubble_wideB.png") no-repeat;

}

.startInfoText_BK{
	display: none; 
	position: fixed; 
	left: 235px; top: 90px;
	margin-right: 50px;
	padding: 20px 20px 10px 25px;  
	color: #000; 
	text-align: left; 
	font-size: .8em; 
	width: 480px; 
	height: 100px;
	background: url("/images/v2/bubble_wideBK.png") no-repeat;

}
	

/*--------end of rollover info------*/
/*//END ----HOME Map START-------END----------------------------END---------*/

/*---home---------home---------home---------home---------home---------home---------home---------home------*/
/*//----------HOMEPAGE END------------------*/
/*//--------------------------------------------------------------------------------*/

/*---Header Inside  START------*/

#container_InsideHeader {
	width: 1000px;
	height: 88px;
	margin-top: 0px;
}

#container_InsideH_bg {
	width: 1000px;
	height: 74px;
	margin-top: 0px;
	background: url("/images/v2/header_upper.jpg") bottom right no-repeat;
}

#container_H_insideTop {
	width: 1000px;
	height: 28px;
	position: relative;
	}

#container_H_insidebottom {
	width: 1000px;
	height: 44px;
	position: relative;
	}

#conMember_name {
	width: 400px;
	height: 20px;
	padding-left: 30px;
	padding-top: 2px;
	position: relative;
	float: left;
	font-size: .95em;
	font-weight: bold;
	font-family: serif;	
	text-align: left;
	color: #663300;
	font-style: italic;
}

.bt_Map {
	width:114px;
	height: 38px;
	position: relative;	
}

.bt_Map  a {
	width:114px;
	height: 38px;
	background: url("/images/v2/bt_map1.png") right no-repeat;
	display: block;
	position: relative;
	float: left;
	margin:0px 0px 0px 24px;
}

.bt_Map a:hover {
	background: url("/images/v2/bt_map2.png") right no-repeat;
}

.bt_home {
	width: 114px;
	height: 38px;
	position: relative;	
}

.bt_home  a {
	width:114px;
	height: 38px;
	background: url("/images/v2/bt_home1.png") right no-repeat;
	display: block;
	position: relative;
	float: left;
	margin:0px 0px 0px 24px;
}

.bt_home a:hover {
	background: url("/images/v2/bt_home2.png") right no-repeat;
}

#spacer_memberHome {
	width: 850px;
	height: 120px;
	position: relative;
	display: block;
}

/*---footer START------*/

#footerContainer {
	width: 1000px;
	height: 28px;
	/*background-color: #666666;*/
	background: url("/images/v2/bg_footer.jpg") left no-repeat;
	vertical-align: bottom;
	position: relative;
	
	}

#footer_left {
width: 290px;
height: 26px;
padding-left: 30px;
position: relative;
float: left;
padding-top: 2px;
}
#footer_middle {
width: 230px;
height: 28px;
position: relative;
font-size: 0.65em;
font-family: helvetica, sans-serif;
 
text-align: left;
 
color: #000;
float: left;
position: relative;
padding:12px 0px 0px 70px;
 
/*letter-spacing: 0.1em;*/
}
#footer_right {
width: 340px;
height: 28px;
float: right;
position: relative;
padding-right: 12px;
padding-top: 2px;
}
	
	
	
#footerCopy {
	width:300px;
	height: 12px;
	font-size: 0.65em;
	font-family: helvetica, sans-serif;	
	text-align: left;	
	color: #000;
	float: left;
	position: relative;
	padding-left:22px;	
	letter-spacing: 0.1em;

}
/*
.footerLink {
	width:auto;
	height: 16px;
	font-size: 0.8em;
	font-family: helvetica, sans-serif;	
	text-align: left;
	list-style-type: none;
	position: relative;		

}


.footerLink a {
	width:auto;
	height: 16px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background: url("/images/v2/footer-button.png") left bottom no-repeat;
	display: block;
	position: relative;
	float: left;
	padding: 4px 20px 0px 22px;	
}

.footerLink a:hover {
	color:#666;

}
*/

#footerLink {
   margin: 0;
   padding: 0;
   height: 1em; 
  
   }
#footerLink li {
   list-style: none;
   font:.8em Arial, Helvetica, sans-serif;
   font-style: bold;
   float: left; 
   background: url("/images/v2/footer-button.png") left no-repeat;
   }
#footerLink li a {
   display: block;
   padding: 3px 8px;
   padding-left: 20px;
   padding-right: 10px;
   color: #fff;
   text-decoration: none; }
#footerLink li a:hover {
   color: #a4a4a4;
  }
#footerLink li ul {
   display: none; 
   width: 8em; /* Width to help Opera out */
   background-color: #69f;}
#footerLink li:hover ul, #footerLink li.hover ul {
   display: block;
   position: absolute;
   top: -52px;
   margin: 0;
   padding: 0; }
#footerLink li:hover li, #footerLink li.hover li {
   float: none; }
#footerLink li:hover li a, #footerLink li.hover li a {
   background-color: #d8d8d8;
   border-bottom: 1px solid #fff;
   color: #000; }
#footerLink li li a:hover {
   background-color: #f2f2f2; }

.footerLink_R {
	width:auto;
	height: 16px;
	font-size: 0.8em;
	font-family: helvetica, sans-serif;	
	text-align: right;
	list-style-type: none;
	position: relative;		

}


.footerLink_R a {
	width:auto;
	height: 16px;
	color: #fff;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	background: url("/images/v2/footer-buttonR.png") left no-repeat;
	display: block;
	position: relative;
	float: right;
	padding: 2px 16px 0px 12px;	
}

.footerLink_R a:hover {
	color:#000000;

}

/*---footer END------*/

/*//----------Header right buttons button END------------------*/
	
.textSpace1 {
	padding: 0px 0px 0px 10px;
}
.textSpace2{
	vertical-align: bottom;
}
.textSpace3{
	padding: 20px 0px 0px 0px;


}
.clear{
clear: both;
height: 30px;
width: 400px;
}


/*//----------Under Construction SIGN----------------*/
.underconstruction{
	width: 100px;
	height: 50px;
	display: block;
	position: relative;
	background: url("/images/v2/under_construction.png") top right no-repeat;
}
.comingsoon{
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #FF6600;
}


/*//---------Sticker---------------*/

.bt_plantsticker {
	width:226px;
	height: 100px;
	display: block;
	margin-right: 40px;
	position: relative;
	float: right;
}
.bt_plantsticker a {
	width:226px;
	height: 100px;
	display: block;
	position: relative;
	float: right;
}

/*//---------TOUR---------------*/
#con_tour{
width:140px;
height:150px;
position: relative;
padding: 20px 0px 0px 10px;
float: left;
}

.bt_tour{
	width:140px;
	height: 40px;
	margin-bottom: 6px;
	position: relative;	
	float: right;
}

.bt_tour a {
	width:140px;
	height: 40px;
	background: url("/images/v2/bt_tour1.png") right no-repeat;
	display: block;
	position: relative;
	float: right;
}

.bt_tour a:hover {
	background: url("/images/v2/bt_tour2.png") right no-repeat;
	
}

.bt_poster{
	width:140px;
	height: 40px;
	position: relative;	
	float:left;
}

.bt_poster a {
	width:140px;
	height: 40px;
	background: url("/images/v2/bt_poster1.png") right no-repeat;
	display: block;
	/*margin-top: 10px;*/
	position: relative;
	float: left;
}

.bt_poster a:hover {
	background: url("/images/v2/bt_poster2.png") right no-repeat;
	
}

/*//---------Training Workshop---------------*/
#bt-workshopOpen {
	width: 950px;
	height: 18px;
	margin-top: 3px;
	padding: 6px 0px 0px 50px;
	display: block;
	float: left;
	background: url("/images/v2/bt_workshop_dn.png") left no-repeat;
	border-bottom: solid 4px #8c4a9d;
	text-decoration: none;
	color: #fff;
	font-size: .85em;

}

#bt-workshopClose {
	width: 936px;
	height: 18px;
	display: block;
	margin-left: 20px;
	padding: 6px 0px 0px 20px;
	float: left;
	border-bottom: solid 1px #8c4a9d;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: .8em;

}

ul#workshop,ul#workshop ul {
	margin: 0;
	padding: 0px;
	list-style: none;
}
ul#workshop {
	width:1000px;
	height:24px;

}
ul#workshop li {
	position: relative;
	float: left;
	width:1000px;
	height:24px;	
}
ul#workshop li a {
	text-decoration: none;
	
}

#workshop li ul {
	position: absolute;
	left: 0; 
	top:-50px;
	margin-left:-999em;
	height:90px;
	width:1000px;
	background:#e9e9ea;
	border-top:solid 4px #8c4a9d;
	border-bottom:solid 4px #8c4a9d;
	padding: 2px 0px 2px 0px;
}

ul#workshop li:hover ul, 
ul#workshop li.over ul {
	margin: 0px;
	line-height: .75em;
}


table.workshop {
	border:none;
	width: 960px;
	margin-left: 30px;
	padding-top: 8px;

}

td.dot {
	color:#000;
	width: 6px;
	vertical-align: top;
	padding-left:10px;

}

td.workshop {
	color:#000;
	width: 434px;
	vertical-align: top;

}

td.workshop a{
	color:#000;
	width: 434px;
	font-size: .75em;

}

td.workshop a:hover {
	color:#8c4a9d;
}

/*//---------Workshop and DNA Barcoding up & down---------------*/

/* Main menu settings */
#centeredmenu {
   width:1000px;
   height: 24px;
   clear:both;
   float:left;
   margin-top: 5px;
   padding:0;
   background: url("/images/v2/workshop_BarCD_bt.png") left no-repeat;
   background-color: #eee;
   border-bottom: solid 2px #8c4a9d; 
   font-family:Arial, Verdana, Geneva, sans-serif; 
   z-index:1000; 
   position:relative;
}

/* Top menu items */
#centeredmenu ul {
   margin:0;
   padding:0;
   list-style:none;
   float:left;
   position:relative;
}

#centeredmenu ul li {
   padding:0;
   float:left;
   position:relative;
   margin-left: 25px;
   margin-right: 5px;
}

#centeredmenu ul li a {
   display:block;
   margin:0;
   padding:5px 4px 0px 20px;
   font-size:.85em;
   text-decoration:none;
   color:#fff;
   font-weight:bold;
}

#centeredmenu ul li.active a {
  color:#fff;
  backgournd: #000;
}
#centeredmenu ul li a:hover {
 /* Top menu items background colour */
   color: #ccc;
}

#centeredmenu ul li:hover a,
#centeredmenu ul li.hover a { /* This line is required for IE 6 and below */
/* Top menu items background colour */
   color:#ccc;
}

/* Submenu items */
#centeredmenu ul ul {
   display:none; /* Sub menus are hiden by default */
   position:absolute;
   bottom:22px;
   left:0px;
   /*right:auto; resets the right:50% on the parent ul */
   width:1100px; /* width of the drop-down menus */
   background-color: #EEEEEE;
}
#centeredmenu ul ul li {
   position: relative;
   margin:0; /* Reset the 1px margin from the top menu */
}
#centeredmenu ul ul li.odd {
   clear:both; 
   width: 450px;
}
#centeredmenu ul ul li.even {
   float:left;
   width: 550px;
}
#centeredmenu ul ul li a img {
	border:0px;
}

#centeredmenu ul ul li.title {
	border-top:1px solid #8c4a9d;
	border-bottom:1px solid #8c4a9d;
	background-color:#EEEEEE;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1.4em;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-top:10px;
	color:#8c4a9d;
	width:1100px;
}
#centeredmenu ul ul li a,
#centeredmenu ul li:hover ul li a,
#centeredmenu ul li.hover ul li a { /* This line is required for IE 6 and below */
   font-size:.8em;
   font-weight:bold; /* resets the bold set for the top level menu items */
   color:#444;
   line-height:0em; /* overwrite line-height value from top menu */
   padding-bottom: 10px;
   padding-left: 50px;
  
}

#centeredmenu ul ul li a:hover,
#centeredmenu ul li:hover ul li a:hover,
#centeredmenu ul li.hover ul li a:hover { /* This line is required for IE 6 and below */
   color:#8c4a9d;
   font-weight:bold; 
}

/* sub sub list  stays within the page */

#centeredmenu ul ul.first{
   position:absolute;
   left:-40px;
}

#centeredmenu ul ul.last {
   position:absolute;
   left:-245px;
}

/* Make the sub menus appear on hover */
#centeredmenu ul li:hover ul,
#centeredmenu ul li.hover ul { /* This line is required for IE 6 and below */
   display:block;
}
/*//--------- END Workshop and DNA Barcoding up & down---------------*/

