@charset "UTF-8";
/* CSS Document */

html,body { height:100%; }

#conbody {
	width: 650px;
	height:450px;
	/*background:url("/images/v2/bg_upload_import.jpg") no-repeat;*/
	font-family: arial, hervetica, san-serif;
}

#title{
	width: 410px;
	height: auto;
	padding: 8px 120px 10px 120px;
	font-size: .95em;
	color: #000066;
	font-weight: bold;
	text-align: center;
	position: relative;
}

.con_BL_infoText{
	width: 590px;
	height: auto; 
	padding: 10px 30px 10px 30px;
	color: #006699;
	font-size: 0.8em;
	text-align: left;
	font-style: italic;
	position: relative;
	float: left;
}
.con_BL_subTitle{
	width: 565px;
	height: auto; 
	padding: 10px 30px 4px 54px;
	color: #3399CC;
	font-size: 0.85em;
	text-align: left;
	font-weight: bold;
	position: relative;
	float: left;
}

.con_BL_box{
	width: 630px;
	height: auto;
	padding: 4px 10px 10px 4px;
	position: relative;
	float: left;
}


.con_BL_menu_box{
    width: 300px;
	height: auto;
	padding-left: 25px;
	position: relative;
	float:left;
	}

.con_BL_menu_box1 {
    width: 300px;
	height: 26px;
	padding: 4px 0px 0px 0px;
	position: relative;
	float:left;
	color: #006699;
	font-size: 0.8em;
	text-align: left;
	}
.con_BL_menu_box2 {
    width: 300px;
	height: auto;
	padding: 4px 0px 4px 0px;
	position: relative;
	float:left;
	color: #006699;
	font-size: 0.8em;
	text-align: left;
	font-style: italic;
	}
.conStylized_input1 {
	float:left;
	padding: 2px;
	border: .1em;
	border-style: solid;
	
	width: 260px;
	margin-bottom: 4px;
	font-size:.8em; font-family: courier, monaco, monospace;
}

.conStylized_input2{
	float:left;
	border: .1em; 
	border-style: solid; 
	
	color: #006699;  
	width:260px;
	font-size:.7em; font-family: courier, monaco, monospace;
	text-transform: uppercase;
	letter-spacing: .1em;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 4px;
}

.conStylized_input3 {
	float:left;
	border: .1em;
	border-style: solid;
	
	width: 260px;
	height: 20px;
	margin-bottom: 4px;
	font-size:.8em; font-family: courier, monaco, monospace;
	
}
	
.conNewPro_label{
	width: 280px;
	height: auto;
	margin: 0px auto; 
	padding-bottom: 4px;
	color: #006699;
	font-size: 0.9em;
	text-align: left;
	position: relative;
	float: left;
	}

.conNewPro_label1{
	width: 300px;
	height: auto;
	margin: 0px auto; 
	padding-bottom: 4px;
	color: #006699;
	font-size: 0.9em;
	text-align: left;
	position: relative;
	float: left;
	}
.conNewPro_label2{
	width: 400px;
	height: auto;
	margin: 0px auto; 
	padding-bottom: 4px;
	color: #006699;
	font-size: 0.9em;
	text-align: left;
	position: relative;
	float: left;
	}

.conRadiobox_align{
	vertical-align: top;
	}

.radioBT{
	width: 22px;
	height: 22px;
	display:block;	
	float: left;
	position: relative;
	}
.radioBT a{
	width: 22px;
	height: 22px;
	display:block;
	background: url("/images/v2/radio1.jpg") top left no-repeat;
	float:left;
	position: relative;
	}
.radioBT a:hover{
	background: url("/images/v2/radio1.jpg") top left no-repeat;
	}
.radioBT a.current{
	background: url("/images/v2/radio2.jpg") top left no-repeat;
	}

.clear_empty{
clear: both;
height: 30px;
width: 300px;
}

.blast_processing{
	width: 18px;
	/*height: 18px;*/
	padding-top: 20px;
	background: url("/images/v2/indicatorBL_running.gif") top left no-repeat;
}


/*
Copyright (c) 2010 Ivan Vanderbyl
Originally found at http://ivan.ly/ui

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

*/


#container0{
	padding-left: 25px;
}
#progress_bar{
	width: 600px;
	height: 20px;
	display:none;
}
/* Webkit animation keyframes */
@-webkit-keyframes animate-stripes {
  from {
    background-position: 0 0;
  }
  
  to {
   background-position: 44px 0;
  }
}

/* Bar which is placed behind the progress */
.ui-progress-bar {
  /* Usual setup stuff */
  position: relative;
  height: 15px;
  
  /* Pad right so we don't cover the borders when fully progressed */
  padding-right: 2px;
  
  /* For browser that don't support gradients, we'll set a blanket background colour */
  background-color: #abb2bc;
  
  /* Rounds the ends, we specify an excessive amount to make sure they are completely rounded */
  /* Adjust to your liking, and don't forget to adjust to the same amount in .ui-progress */
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  
  /* Webkit background gradient */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
  /* Mozilla background gradient */
  background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
  
  /* Give it the inset look by adding some shadows and highlights */
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
}

/* Progress part of the progress bar */
.ui-progress {
  /* Usual setup stuff */
  
  position: relative;
  display: block;
  overflow: hidden;
  
  /* Height should be 2px less than .ui-progress-bar so as to not cover borders and give it a look of being inset */
  height: 18px;
  
  /* Rounds the ends, we specify an excessive amount to make sure they are completely rounded */
  /* Adjust to your liking, and don't forget to adjust to the same amount in .ui-progress-bar */
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  
  /* Set the background size so the stripes work correctly */
  -webkit-background-size: 44px 44px; /* Webkit */
  
  /* For browser that don't support gradients, we'll set a blanket background colour */
  background-color: #74d04c;
  
  /* Webkit background stripes and gradient */
  background: -webkit-gradient(linear, 0 0, 44 44,
    color-stop(0.00, rgba(255,255,255,0.17)),
    color-stop(0.25, rgba(255,255,255,0.17)),
    color-stop(0.26, rgba(255,255,255,0)),
    color-stop(0.50, rgba(255,255,255,0)),
    color-stop(0.51, rgba(255,255,255,0.17)),
    color-stop(0.75, rgba(255,255,255,0.17)),
    color-stop(0.76, rgba(255,255,255,0)),
    color-stop(1.00, rgba(255,255,255,0))
  ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c), color-stop(1, #9bdd62));
  
  /* Mozilla (Firefox etc) background stripes */
  /* Note: Mozilla's support for gradients is more true to the original design, allowing gradients at 30 degrees, as apposed to 45 degress in webkit. */
  background: -moz-repeating-linear-gradient(top left -30deg, 
    rgba(255,255,255,0.17), 
    rgba(255,255,255,0.17) 15px, 
    rgba(255,255,255,0) 15px, 
    rgba(255,255,255,0) 30px
  ), -moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
  
  /* Webkit embossing */
  -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  /* Mozilla embossing */
  -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  /* IE9 and Opera embossing */
  box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  
  /* Give it a higher contrast outline */
  border: 1px solid #4c8932;
  
  /* Webkit magic */
  -webkit-animation: animate-stripes 2s linear infinite;
  
  /* TODO: Wait for Mozilla to support animation, then implement */
}

/* Progress indicator text */
.ui-progress span.ui-label {
  font-size: 1.0em;
  position: absolute;
  right: 0;
  line-height: 14px;
  padding-right: 12px;
  color: rgba(0,0,0,0.6);
  text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
  white-space: nowrap;
}

/* dnalc_container */
#dnalc_container {
	font-size: 0.9em;
	clear:both;
}

#dnalc_container  table{
	width: 760px;
}

#dnalc_container tr td {
	vertical-align: top;
	padding: 2px;
	/*font-size: 0.9em;*/
}

#dnalc_container tr td.forty5p {
	width: 45%;
}

#dnalc_container tr td.twenty5p {
	width: 25%;
}

#dnalc_container tr.ucfirst td {
	text-transform:capitalize;	
}

#dnalc_container tr.header td {
	font-weight: bold;
	border-bottom: 1px solid black;
}

#dnalc_container  div.halfdiv{
	float:left;
	width: 50%;
}

/*.tbl {border:solid thin red; width: 100%}*/
.tbl {width: 100%}
.tbl {display:table;}
.trow {display:table-row;}
.theader {display:table-row;border-bottom: solid thin red; font-weight: bold;}
.trownum {text-align: right;}
.tcell, .tcell1, .tcell2 {display:table-cell; padding: 2px 3px 2px 5px;}

span.rot { -moz-transform:rotate(90deg); font-size: smaller;}

/* //--------START View Trace MENU ---ADD-as it is ------------------ */

/* If you modify any widths here (including padding, margins) - you must update the JS at step == 2 and step == 22 to reflect this change */
.container_data1 {
	width: 840px;
	height: auto;
	padding-top: 8px;
	float: left;
	position: relative;
	padding-left: 20px;
	font-family:  arial, monospace;
	}
.container_data1 .seqids {
	float:left; width: auto; max-width: 275px; font-family:arial; line-height: 1.2em; overflow-x:auto; color:#996600; 
	}
.container_data1 .seqs {
	float:left; width:1px; margin-left:10px; overflow-x:auto; font-family:courier, monospace; line-height: 1.2em; text-transform: uppercase; 
	/*display:none;*/
	}
.container_data1 #mini-trace-icons {
	float:left; 
	max-width: 24px; 
	min-width: 15px; 
	line-height: 1.2em; 
	margin-left:10px;
	padding-top:2px;
	margin-right:10px;
	}
.container_data1 #mini-trace-icons  a img{
	vertical-align: middle;
	margin-right:5px;
	border: none;
}
.container_data1 #q-score-alert {
	float:left; 
	width: 15px; 
	line-height: 1.2em; 
	margin-right:1px;
	}	
.container_data1 div.seq-rows { 
	height: 20px; 
	font-family: monospace;  
	white-space: pre; 
}
/* If you modify any widths here (including padding, margins) - you must update the JS at step == 8 */
#phy-pair-builder, #phy-blast {
	width: 840px;
	height: auto;
	padding-top: 8px;
	float: left;
	position: relative;
	padding-left: 20px;
	font-family:  arial, monospace;
	}	
	
#phy-pair-builder #seqids, #phy-blast #seqids {
	float:left; width: auto; max-width: 400px; font-family:arial, monospace; line-height: 1.2em;overflow-x:auto; color: #996600; min-height:200px;
	}
#phy-pair-builder #seqs, #phy-blast #seqs {
	float:left;width:1px;margin-left:15px;overflow-x:hidden;font-family:courier;line-height: 1.2em;text-transform: uppercase; display:none;
	}
#phy-pair-builder #seqops, #phy-blast #seqops {
	float:left; padding-left:15px; width: 30px;font-family:arial;line-height: 1.2em; color: #996600; display:none;
	}
#phy-pair-builder #seqops2 {
	/*float:left; 
	padding-left:0px; 
	color: #996600;
	font-family:arial;*/
	line-height: 2.4em;
	display:none;
	width:630px;
	/*float:left;*/
}	

#phy-pair-builder .reverse_strand_indicator{
	color:red;
}


/*** not being used any more -> converted to #phy-pair-builder and #phy-blast (see above)	
.container_data2 {
	width: 840px;
	height: auto;
	padding-top: 8px;
	float: left;
	position: relative;
	padding-left: 20px;
	font-family:  arial, monospace;
	}

.container_data2 .seqids {
	float:left; width: 165px;font-family:arial, monospace; line-height: 1.2em;overflow-x:auto; color: #996600; 
	}
.container_data2 .seqs {
	float:left;width:585px;margin-left:15px;overflow-x:hidden;font-family:courier;line-height: 1.2em;text-transform: uppercase;
	}
.container_data2 .seqops {
	float:left; padding-left:15px; width: 30px;font-family:arial;line-height: 1.2em; color: #996600;
	}
*/

.container_data3 {
	width: 840px;
	height: auto;
	padding: 8px 0px 0px 20px;
	float: left;
	position: relative;
	font-family:  arial, monospace;
	
	}
.container_data3 .seqs {
	float:left; width: 740px; padding-left: 74px; line-height: 1.2em;overflow-x:auto; color: #996600; clear: right; margin-bottom:2px; font-size: 0.8em;
	}
	
.container_data4 {
	padding: 8px 0px 0px 20px;
	float: left;
	position: relative;
	font-family:  arial, monospace;
	
	}
	
#container_data_line {
	height: 8px;
	margin-top: 14px;
	position: relative;
	border-top: 4px solid #C2DBF3;

	}
#container_data_lineBottom {
	height: 3px;
	position: relative;
	border-bottom: 1px solid #C2DBF3;

	}

.seqids a{
 	
	text-align: left;
	color: #006699;
	text-decoration:none;
	font-weight:bold;
	
	}
.seqids a:hover{
	color: #669966;
	
	}
	
.seqops a{
 	
	text-align: left;
	color: #006699;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	
	}
.seqops a:hover{
	color: #669966;
	
	}	

.list_refdata{
    width: 400px;
	height: 22px;
	padding: 10px 0px 0px 65px;
	position: relative;
	float:left;
	color: #006699;
	font-size: 0.8em;
	text-align: left;
  
}

/* //--------START View BLAST table ---PAGE----MENU ------------------ */
.theader .tcell	{
	font-size: .9em;
	font-weight: bold;
	padding: 10px 4px 6px 10px;
	background:#CADEEF;
	border-top: 1px solid #999999;
	border-bottom: 4px solid #666666;
	color: #000000;
	height: 30px;
	font-family:  arial, monospace;
}

.trow	{
	background-color: #FFF; 
}

.trow_1	{
	background-color: #EEF3F7; 
}

.trow .tcell	{
	height: 16px;
	font-size: .9em;
	border-top: 1px solid #ccc;
	color: #333333;
	padding: 6px 4px 6px 10px;
	font-family:  arial, monospace;
}

.trow .tcell a{
	color: #006699;
	text-decoration: none; 
	text-align: left;
}

.trow .tcell a:hover{
	color: #C2DBF3;

}

.trow .tcell_1	{
	height: 16px;
	font-size: .9em;
	border-top: 1px solid #ccc;
	color: #996600;
	padding: 6px 4px 6px 10px;
	font-family:  arial, monospace;
}

.con_BLAST_subTitle{
	width: 565px;
	height: auto; 
	padding: 4px 30px 10px 20px;
	color: #3399CC;
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	position: relative;
	float: left;
}
/* //--------START Pair table ---PAGE----MENU ------------------ */
span.bold {
	font-weight: bolder;
}

.paired-light {
	background-color:#E2F0DC;
}
.paired-dark {
	background-color:#E0E9F6;
}

/* //--------KILL -----START  MENU ---PAGE----MENU---KILL ------------------ */

#conBL_menu_holder {
	width: 878px;
	height:auto;
	position: relative;

}

.conBL_menu_table{
	margin: 12px 14px 20px 14px;
	width: 850px;
	text-align: left;
	border-collapse: collapse;
	border-bottom: 2px solid #666666;
}
.conBL_menu_table th{
	font-size: .9em;
	font-weight: normal;
	padding: 4px;
	background:#CADEEF;
	border-top: 1px solid #999999;
	border-bottom: 4px solid #666666;
	color: #000000;
}
.conBL_menu_table td{
	height: 16px;
	font-size: .8em;
	border-bottom: 1px solid #ccc;
	color: #333333;
	padding: 6px 4px 6px 4px;
}

.conBL_menu_table td.seqs{
	height: 16px;
	font-size: .8em;
	border-bottom: 1px solid #ccc;
	color: #333333;
	padding: 6px 4px 6px 4px;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.conBL_menu_table td.tools{
	height: 16px;
	font-size: .8em;
	text-align:left;
	border-bottom: none;
	padding-left:  10px;
	position: relative;
	vertical-align: top;
	
}
/*
.conBL_menu_table tr.rowOne {
	background-color: none; 
}*/

.conBL_menu_table tr.rowTwo {
	background-color: #EEF3F7; 
}

.conBL_menu_table tr.rowThree {
	background-color: #D7CABA;
	font-weight: bold; 
	
	border-bottom: 2px solid #876A53;
	
}

.conBL_menu_table td.link{
	color: #0080FF;	
	display: block;
	text-decoration: none; text-align: left;
	
}

.conBL_menu_table td.link a{
	color: #0080FF;
	display: block;
	text-decoration: none; text-align: left;
	
}
.conBL_menu_tabletd.link a:hover{
	color: #CC9900;
	
}
.con_BLUEscores {
	height: 10px;
	width: 682px;
	position: relative;
	float: left;
	display: block;
	text-align:left;
	padding: 5px 0px 5px 0px;
	color: red;
	font-size: .6em;
	font-weight: bold;
	/*word-spacing: .1em;*/
	font-family: courier new, courier, monospace;
}

.con_BLUEseqs {
	height: 16px;
	width: 682px;
	position: relative;
	float: left;
	display: block;
	text-align:left;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-family: courier new, courier, monospace;
}

#view-consensus{
	font-family:arial;
}

#view-consensus #pair-menu{
	width: 15%;
	float:left;
	overflow: none;
}

#view-consensus .pair-id-block{
	padding-bottom:3px;
	border-top:1px solid #fdfdfd;
	border-bottom:1px solid #fdfdfd;
	overflow:hidden;
}
#view-consensus .pair-id-block a{
	text-decoration:none;
	display:block;
	color:#006699;
	font-weight:bold;
}
#view-consensus .pair-id-block a small{
	color:#996600;
	font-weight:normal;
}
#view-consensus .pair-id-block:hover{
	background-color:#F8FAFC;
	border-top:1px solid #e0e9f6;
	border-bottom:1px solid #e0e9f6;
}
#view-consensus .pair-id-block.active{
	background-color:#F8FAFC;
	border-top:1px solid #e0e9f6;
	border-bottom:1px solid #e0e9f6;
}

#view-consensus #pair-title-block{
	background-color:#fdfdfd;
	padding-bottom:4px;
	font-weight:bold;
	height:24px;
}
#view-consensus #pair-title-block a, #view-consensus .text-links a{
	color:#006699;
}

#view-consensus #pair-title{
	float:left;
	max-width:75%;
	white-space:nowrap;
	overflow:hidden;
	padding-right:5px;
}

#view-consensus .text-links{
	font-family:arial;
	font-size:small;
	padding-top:3px;
	float:left;
	font-weight:normal;
	color:#006699;	
}

#view-consensus #edit-panel{
	width: 85%;
	float:left;
	background:#e0e9f6;
}

#view-consensus .trim{
	background-color:white;
	cursor:pointer;
	display:inline-block;
	/* unselectable style below */
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#view-consensus #consensus_div_seq.trim span:hover{
	background-color:#999;
}

#view-consensus  #consensus_div_seq.trim span.to_trim{
	text-decoration:line-through;
	color:red;

}

#view-consensus .non-match {
	background: #FFF333;
	cursor: pointer;
}

#view-consensus .new-nucleotide-option {
	margin:0 5px;
	cursor: pointer;
	border: 1px solid black;
	padding:1px 3px;
	font-family:courier;
}
#view-consensus .new-nucleotide-option:hover {
	background-color:#ff9999;
}

#view-consensus .current-nucleotide {
	margin:0 5px;
	border: 1px solid black;
	cursor: pointer;
	padding:1px 3px;
	font-family:courier;
}

#view-consensus .changed-base {
	background: #FF9999;
	cursor: pointer;
}

#view-consensus .monospace {
	font-family: "Courier New", Courier, monospace;
}

#view-consensus #labels {
	float:left; 
	padding-left:10px;
	padding-top:10px;
	padding-right:15px;
}

#view-consensus #colons {
	float:left; 
	padding-top:10px;
	padding-right:5px;
}

#view-consensus #sequences {
	overflow:auto;
	margin-top:10px;
	white-space:nowrap;
	margin-right:3px;
}

#view-consensus ul {
	list-style-type:none;
	margin:0;
	padding:5px;
}

#view-consensus #change_base_area{
	padding-top:10px;
	padding-left:10px;
	display:inline-block;
	font-family:arial;
}

#view-consensus #trim-info{
	font-size:12px;
	font-family:arial;
	color:black;
	padding:10px;
	margin-top:-20px;
}
#view-consensus #trim-info .trim_total_label{
	width:65px;
	display:inline-block;
}
#view-consensus #trim-info span{
	margin-left:5px;
	color:#006699;
}
#view-consensus #trim-info #left_trim_value, #view-consensus #trim-info #right_trim_value{
	width:20px;
	display:inline-block;
	text-align:right
}
#view-consensus #trim-info a{
	color:#006699;
	font-size:10px;
}

#view-consensus span.hiQS {
}
#view-consensus span.loQS {
	color: #aaa;
}

#view-seqs-help-bubble{
position:absolute;
z-index:1;
left:70px;
top:25px;
background:url(/images/bt-trace-question.png);
display:block;
width:21px;
height:29px;
cursor:pointer
}

#view-seqs-help-message{
position:absolute;
z-index:1;
left:70px;
top:52px;
background:url(/images/bg-trace-questionPanel.png) no-repeat;
font-size:10px;
font-family:arial;
color:#2e83ac;
text-transform:none;
line-height:10px;
height:73px;
width:250px;
padding:10px 15px 10px 15px;
}

#view-seqs-help-message a{
color:#2e83ac;
}


#trace-viewer{
margin-top:17px;
margin-left:10px;
margin-bottom:20px;
border:#000 1px solid;
overflow:auto;
position:relative;
}

#low-qs-alert-link{
margin-top:-10px; 
margin-left: 10px; 
margin-bottom:10px; 
text-transform:none; 
background: #c2dbf3; 
width:195px;
}

#showing-trimmed-notice{
font-size:10px;
border:#a7cff5 solid 1px;
background-color:#f3f7fa;
padding:5px;
float:left;
width: 194px;
}

canvas {
	background: #FFFFFF;
}

input.bluebtn { 
color: #000; 
background:#C2DBF3;
margin-right: 2px;
margin-top: 10px;
} 
	
.label{
font: "Arial";
color: #000;
}


/* BOLD/GB related styles */
#BOLDbody {
	margin: 20px;
	font-family: arial, hervetica, san-serif;
	font-size: 12px;
}

#BOLDheader {
	background-color: #3952a4;
	color: #f5851f;
	height: 25px;
	font-size: 18px;
	padding: 2px;
}
#BOLDstep {
	background-color: #C2DBF3;
	color: #123456;
	font-size: 14px;
	padding: 0px 0px 2px 10px;
}

#BOLDmain {
	min-height:75%;
	padding-left: 50px;
}

#BOLDfooter {
	/*background-color: #564123;
	color: #fff;*/
	font-size: 16px;
	/*position: relative; 
	margin-top: -5em;*/
	text-align: center;
}

table#details {
	float:left;
}

#bimage_upload {
	padding-left: 30px;
	width: 400px;
	min-height: 200px;
	float:left;
}
#bimage_list_uploaded {
	padding-left: 20px;
	/*width: 400px;*/
	float:left;
}

#bimage_list_uploaded ul
{
	list-style: none;
	padding: 0;
	margin: 0;
} 

#bimage_list_uploaded li {
	float: left;
	margin: 0 0.15em;
	width: 102px;
	text-align: center;
}

p#message {
	font-weight: bold;
}

p#message.error {
	color: red;
}

p.info {
	color: green;
}

#codon_table_options{
	display:none;
	background-color:#E0E9F6;
	padding:1px 10px 3px 10px;
	margin-left:40px;
	font-size:0.9em;
}

#codon_table_options form{
	display:inline;
}
/* END BOLD/GB styles */
.right_sidebar_container{
	display:block;
	width:200px;
	border:0px;
	margin-left:640px;
	position:fixed;
	top:56px;
}

.blue_sidebar_box_container {
	border:1px solid #C2DBF3;
	background: #F8FAFC;
	font-size:0.8em;
	color: #333;
	font-family:arial,monospace;
}

.blue_sidebar_box_title{
	background: #C2DBF3; 
	margin:0; 
	padding:2px 0 2px 5px;
}

.blue_sidebar_box_body{
	padding:5px;
}

.dark_blue_bg{
background-color: yellow;
}

#add_blast_alert.fade {
  -transition-property: background-color;  
  -transition-duration: 2s; 
  -moz-transition-property: background-color;  
  -moz-transition-duration: 2s; 
  -webkit-transition-property: background-color;  
  -webkit-transition-duration: 2s; 
  -o-transition-property: background-color;  
  -o-transition-duration: 2s;    
  background-color: #F8FAFC;
}

/*
#fade {
   transition: opacity 1.5s ease-in-out;
   -moz-transition: opacity 1.5s ease-in-out;
   -webkit-transition: opacity 1.5s ease-in-out;
}
*/
